.Онлайн{
    display: flex;
    align-items: center;
    justify-content: center;
}
.onlayun_all{
    width: 1368px;
    height: 664px;
    border-radius: 64px 6px 64px 6px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 6px 6px 70px 0px #00000017;
    
}
.onlayn_list {
    padding: 82px 62px;
}
.onlayn_list h1{
    font-family: Ubuntu;
    font-size: 34px;
    font-weight: 400;
    line-height: 37.4px;
    text-align: left;
    width: 635px;
    height: 37px;
    color: #000000;  
}
.onlayn_list_row{
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 20px;
}
.onlayn_list_item h1{
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #0000DE;
    width: 268px;
    height: 28px;
    padding: 49px 0;
}
.onlayn_x{
    display: flex;
    align-items: center;
    gap: 20px;
}
.onlayn_p{
    width: 300px;
    height: 68px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #DCEAF6;
    margin-bottom: 30px;  
    padding: 11px 17px;
}
.onlayn_p p{
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #9AB5C6;
    width: 266px;
    height: 19px; 

}
.onlayn_p h5{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    width: 266px;
    height: 28px;
}

.onlayn_p h6{
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #9AB5C6;
    width: 266px;
    height: 19px; 

}
.onlayn_p h4{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    width: 266px;
    height: 28px;
}
select{
    width: 266px;
    height: 28px; 
    border: none;
    outline: none;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin-left: -2px;
}
.onlayn_btn{
    display: flex;
    align-items: center;
    gap: 40px;
}
.onlayn_btn_link button{
    width: 224px;
    height: 68px;
    border-radius: 28px 0px 28px 0px;
    background: #0000DE;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    
    
}
.onlayn_btn_linkw p{
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #9AB5C6;
    
}

.onlayn_btn_linkw h6{
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #9AB5C6;
    border-bottom: 2px solid #9AB5C6;
    
}
.foz{
    width: 133px;
    height: 4px;
    border-radius: 8px;
    background: #355DFB;
    margin-top: 6px;
    
}
.foz1{
    width: 18px;
    height: 18px;
    border: 6px solid #0000DE;
    background-color: white;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: -4%;
}
.foz2   {
    width: 193px;
    height: 4px;
    border-radius: 8px;
    background: #355DFB;
    margin-top: 6px;
}
.foz3{
    width: 18px;
    height: 18px;
    border: 6px solid #0000DE;
    background-color: white;
    border-radius: 50%;
    margin-left: 70%;
    margin-top: -4%;
}

.foz4  {
    width: 40px;
    height: 4px;
    border-radius: 8px;
    background: #355DFB;
    margin-top: 6px;
}
.foz5{
    width: 18px;
    height: 18px;
    border: 6px solid #0000DE;
    background-color: white;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: -4%;
}

.onlayn_img_x img{
    width: 284px;
    height: 570px;
    margin-left: 20%;
    margin-top: -25px;
}

@media(max-width:390px){
    .onlayn_img_x img{
        display: none;
    }
}